/* Import da Fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

#main{
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.titulo{
    margin-bottom: 1rem;
    font-weight: bold;
}   

.lista-pk{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
}

#loadMoreButton{
    align-self: center;
    margin-top: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #b050c8;
    color: white;
    font-weight: light;
    cursor: pointer;
}

@media screen and (min-width: calc(140px * 4 + 105px)) {
        .lista-pk{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
}


@media screen and (min-width: calc(140px * 3 + 75px)) and (max-width: calc(140px * 4 + 104px)) {
    .lista-pk{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: calc(140px * 2 + 45px)) and (max-width: calc(140px * 3 + 74px)) {
    .lista-pk{
        grid-template-columns: 1fr 1fr;     
    }
}
